@import url("https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&family=Montserrat:wght@300;600&family=Poppins:wght@400;500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,400&display=swap");

.skillContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 200px 0px;
}

.skillContainer__text {
  color: white;
  flex: 0.6;
  text-align: left;
  max-width: 500px;
  margin-bottom: 20px;
}

.skillContainer__text > h2 {
  font-size: 35px;
}

.skillContainer__image {
  flex: 0.4;
  text-align: center;
  margin-right: 100px;
}

.skillContainer__image > img {
  width: 600px;
  border-radius: 3px;
  object-fit: contain;
}

.skillContainer__skillSet > h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 15px;
  font-size: 15px;
}

.skillContainer__slider > .MuiLinearProgress-colorPrimary {
  background-color: rgb(88, 88, 88);
}

.skillContainer__slider1 > div > .MuiLinearProgress-barColorPrimary {
  background-color: rgb(255, 255, 255);
}

.skillContainer__slider2 > div > .MuiLinearProgress-barColorPrimary {
  background-color: rgb(1, 247, 255);
}

.skillContainer__slider3 > div > .MuiLinearProgress-barColorPrimary {
  background-color: yellow;
}

.skillContainer__slider4 > div > .MuiLinearProgress-barColorPrimary {
  background-color: rgb(164, 39, 247);
}

.skillContainer__slider5 > div > .MuiLinearProgress-barColorPrimary {
  background-color: rgb(130, 161, 240);
}

.skillContainer__slider6 > div > .MuiLinearProgress-barColorPrimary {
  background-color: rgb(69, 253, 137);
}

.skillContainer__slider7 > div > .MuiLinearProgress-barColorPrimary {
  background-color: tomato;
}

.skillContainer__slider8 > div > .MuiLinearProgress-barColorPrimary {
  background-color: rgb(26, 154, 0);
}


