.contact {
  display: flex;
  flex-direction: column;
  color: rgb(5, 5, 5);
  justify-content: center;
  margin: 200px 0 100px;
  align-items: center;
  background-color: #000000;
}

.contact__container {
  border: 1px solid#f64c08;
  width: 600px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
}

.contact__container > p {
  font-size: 20px;
  text-align: left;
  padding-bottom: 30px;
}

.contact__container > p > span {
  color: #f64c08;
}

.contact__icons > button > span > .MuiSvgIcon-root {
  color: white;
  font-size: 30px;
}

.contact__icons > .MuiIconButton-root {
  color: rgb(255 252 252);
}
