@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

.experience {
  display: flex;
  flex-direction: column;
  border: 2px dotted white;
  color: white;
  border-radius: 10px;
  width: 230px;
  height: 160px;
  justify-content: center;
  background-color: rgb(5, 5, 5);
  overflow: hidden;
  padding: 8px 10px;
}

.experience > h1 {
  font-family: "Josefin sans" sans-serif;
  font-size: 21px;
  letter-spacing: 1px;
  padding-bottom: 5px;
}
.experience > p {
  font-family: "Josefin sans" sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: left;
}
